* {
    text-decoration: none;
    color: black;
    /* color: white; */
}

body,
h1 {
    font-family: "Inter", sans-serif;
}

body,
html {
    height: 100%;
}

.bg-img {
    /* background-image: url('https://www.w3schools.com/w3images/architect.jpg'); */
    /* background-image: url('https://www.w3schools.com/w3images/mountainskies.jpg'); */
    background-image: url('https://www.w3schools.com/w3images/ocean2.jpg');
    /* background-image: url('https://www.w3schools.com/w3images/mountains2.jpg'); */
    /* background-image: url('https://www.w3schools.com/w3images/ocean.jpg'); */
    background-color: #000000;
    background-blend-mode: luminosity;
    min-height: 100%;
    background-position: center;
    background-size: cover;
}